@import "footer";
@import "index";
@import "main";
@import "menu";
@import "ubicacion";


.navbar-custom {
  background-color: orangered;
  color: goldenrod; }


body
header h1 {
  margin: 0% auto;
  text-align: center;
  font-size: 2rem;
  color: orangered; }

header h2 {
  text-align: center;
  font-size: 2rem;
  color: orangered; }

header {
  background-color: goldenrod; }


.navbar-custom {
  background-color: orangered;
  color: goldenrod; }
